@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
    background-color: hsl(218, 28%, 13%);
    max-width: 1440px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    margin: 10px;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 10px;
}

.menu li a {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
    font-family: "Raleway";
    font-weight: 700;
    padding: 10px;
}

.sessao1 img {
    display: block;
    max-width: 720px;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
}

.sessao1 h1 {
    font-family: Open Sans;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    max-width: 903px;
    margin: 10px auto;
    line-height: normal;
    color: hsl(0, 0%, 100%);
}

.sessao2 {
    text-align: center;
    margin: 20px;
}

.sessao2 p {
    color: hsl(0, 0%, 100%);
    font-family: "open sans";
    margin: 5px;
}

.botao-start {
    display: block;
    background-color: hsl(176, 68%, 64%);
    width: 240px;
    border-radius: 25px;
    height: 50px;
    margin: 25px auto;
    cursor: pointer;
}

.botao-start p {
    color: hsl(0, 0%, 100%);
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-family: "open sans";
}

.sessao3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 150px;
}

.sessao3 div {
    margin: 40px auto;
    text-align: center;
}

.sessao3 div img {
    margin: 10px auto;
}

.sessao3 div h2 {
    margin: 10px auto;
    font-family: Open Sans;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
}

.sessao3 div p {
    color: hsl(0, 0%, 100%);
    font-family: "open sans";
    width: 390px;
}

footer {
    background-color: hsl(216, 53%, 9%);
}